@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Booki</h1>
    <h3>Reservation af borde</h3>
    <p class="lead">Booki er en ny og banebrydende måde at booke et bord på et værtshus. Den fjerner alle bekymringer der er forbundet med nutidens bordbooking, ved at at være et effektivt og fleksibelt system der forhindringer dobbelt bookinger.</p>
    <p><a href="/Reservations" class="btn btn-primary btn-lg">Book nu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Værtshuse</h2>
        <p>
            Se alle værtshuse der allerede er tilmeldt Booki - reserver dit bord i dag!
        </p>
        <p><a class="btn btn-default" href="/venues">Vis værtshuse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Eksisterende kunde</h2>
        <p>Har du brugt Booki før? Klik her for at logge på.</p>
        <p><a class="btn btn-default" href="/Sessions/Create">Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Første gang?</h2>
        <p>Registrér dig her på siden, for at kunne booke borde med Booki</p>
        <p><a class="btn btn-default" href="/Registrations/Create" ">Tilmeld &raquo;</a></p>
    </div>
</div>